<?xml version="1.0" ?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

    <ros2_control name='MPU6050' type='sensor'>
        <hardware>
            <plugin>mpu6050_imu_broadcaster/MPU6050Hardware</plugin>
            <param name='sensor_name'>mpu6050</param>
            <param name='frame_id'>imu_link</param>
        </hardware>
        <sensor name='mpu6050'>
            <state_interface name='orientation.x'/>
            <state_interface name='orientation.y'/>
            <state_interface name='orientation.z'/>
            <state_interface name='orientation.w'/>
            <state_interface name='angular_velocity.x'/>
            <state_interface name='angular_velocity.y'/>
            <state_interface name='angular_velocity.z'/>
            <state_interface name='linear_acceleration.x'/>
            <state_interface name='linear_acceleration.y'/>
            <state_interface name='linear_acceleration.z'/>  
        </sensor>
    </ros2_control>

</robot>